*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #000;
    color: #fff;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.flex{
    display: flex;
}

header{
    background-color: steelblue;
    position: relative;
}

header label{
    cursor: pointer;
    display: none;
}

.menu{
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    /* background-color: red; */
}

#check{
    display: none;
}

header img{
    width: 120px;
}

header ul li{
    padding: 0 10px;
    list-style: none;
    cursor: pointer;
}

@media screen and (max-width: 1100px) {
    header ul{
        position: absolute;
        top: -100%;
        background-color: #fff;
        color: #000;
        left: 0;
        z-index: -1;
        width: 100%;
        flex-direction: column;
        transition: all 1s ease-in-out;
    } 
    header ul li{
        padding: 10px 0 10px 10%;
    }

    #check:checked ~ ul{
        top: 100%;
    }
}